{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class="page">
   <div class="section">
    <div class="page-content">
          <header class="header">
            <img src="/svg/apple.svg" alt="Apple" class="header-icon">
            
            <nav class="head-nav">
                
            </nav>
          </header>
    </div>
   </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}