@use '../../lib/servise.scss' as s;

.page {
    font-family: 'Roboto', sans-serif;
    font-size: s.size();
    background-color: s.color('background');
}

.section {
    display: flex;
    justify-content: center;
}

$contentSizeMap: (
    desktop: 1100px,
    laptop: 900px,
    tablet: 700px,
    mobile: 500px
);

.page-content {
    max-width: 1200px;
    width: 100%;
    
    @each $key, $value in s.$screenMap {
        @media all and ( width < $value) {
            max-width: map-get($contentSizeMap , $key );
        }
    }
}